{% extends "base.html" %}
{% load static %}
{% block title %}{{ title | capfirst }}{% endblock title %}
{% block styles %}
<link href="{% static 'custom.css' %}" rel="stylesheet">
{% endblock styles %}

{% block banner %}
<div class="col-md-12 bg-primary p-4 text-center d-flex align-items-center justify-content-center banner-movie position-relative" style="background-image: linear-gradient(to right, rgba(24, 24, 24,0.9), rgba(0,0,0,0.1) 20%, rgba(0,0,0,0.1) 80%, rgba(24, 24, 24,0.9)), url({{ movie.banner.url|default:'/static/banner.jpg' }});">
    <div class="shadow-div position-absolute w-100 h-100"></div>
    {% if subtitle %}<h1 class="m-0 position-relative text-white">{{ subtitle | capfirst }}</h1>{% endif %}
</div>
{% endblock banner %}

{% block buttons_auth %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <div class="col-12 float-left text-left">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:index' %}"><i class="fa-solid fa-arrow-left text-white" title="Volver"></i> Volver</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:edit_movie' movie.id %}"><i class="fa-solid fa-pen-to-square text-success" title="Editar Película"></i> Editar Película</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fa-solid fa-right-from-bracket text-white" title="Cerrar sesión"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock buttons_auth %}

{% block buttons_noauth %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
    <div class="container-fluid">
        <div class="col-12 float-left text-left">
            <ul class="navbar-nav w-100 d-flex justify-content-between">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:movies' %}"><i class="fa-solid fa-film text-success" title="Películas"></i> Películas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'movies:login' %}"><i class="fa-solid fa-right-to-bracket text-white" title="Login"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{% endblock buttons_noauth %}

{% block content %}
<div class="row">
    <div class="mt-1 mb-2 col-md-12">
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="poster-img" style="background-image: url({{ movie.poster.url }});"></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="row">
                    <div class="col-12">
                        <div class="border-0 mt-3 mb-1 p-3 text-justify">
                            <h3><strong>Título:</strong> {{ movie.title }}</h3>
                            <p><strong>Año de publicación:</strong> {{ movie.year }}</p>
                            <p><strong>Duración:</strong> {{ movie.duration }} minutos</p>
                            <p><strong>Puntuación:</strong> {% for i in ""|ljust:movie.rating %}⭐{% endfor %} ({{ movie.rating }})</p>
                            <p>
                                <strong>Directores:</strong> 
                                {% for director in movie.directors.all %}
                                <a href="{% url 'movies:director' director.id %}" style="color:white">{{ director.name }}</a>
                                {% if not forloop.last %}, {% endif %} 
                                {% endfor %}
                            </p>
                            <p>
                                <strong>Actores:</strong> 
                                {% for actor in movie.actors.all %}
                                <a href="{% url 'movies:actor' actor.id %}" style="color:white">{{ actor.name }}</a>
                                {% if not forloop.last %}, {% endif %} 
                                {% endfor %}
                            </p>
                            <p><strong>Género:</strong> {{ movie.genre }}</p>
                            <p><strong>Sinopsis:</strong><br>{{ movie.description }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-2 mb-4 col-md-12">
        <h3 class="mb-2">Directores</h3>
        <div class="row justify-content-left">
            {% for director in movie.directors.all %}
            <div class="col-4 col-md-2 text-center mb-3">
                <div class="actor-photo-container">
                    <a href="{% url 'movies:director' director.id %}">
                        <img class="rounded-circle actor-photo" src="{{ director.photo.url }}" alt="{{ director.name }}">
                    </a>
                </div>
                <h6 class="mt-2">{{ director.name }}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="mt-2 mb-4 col-md-12">
        <h3 class="mb-2">Actores</h3>
        <div class="row justify-content-left">
            {% for actor in movie.actors.all %}
            <div class="col-4 col-md-2 text-center mb-3">
                <div class="actor-photo-container">
                    <a href="{% url 'movies:actor' actor.id %}">
                        <img class="rounded-circle actor-photo" src="{{ actor.photo.url }}" alt="{{ actor.name }}">
                    </a>
                </div>
                <h6 class="mt-2">{{ actor.name }}</h6>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}